@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800|Roboto:300,400,700");
html, body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

aside {
  background-color: #011627;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  position: relative;
}

aside .burger-menu {
  -ms-grid-column: 11;
  grid-column: 11;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

aside .burger-menu .bm1, aside .burger-menu .bm2, aside .burger-menu .bm3 {
  height: 5px;
  width: 35px;
  background-color: white;
  margin: 3px 0 3px;
}

aside h1 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: -2;
  font-size: 2em;
  color: #ff9f1c;
}

main {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  text-align: center;
  z-index: -10;
}

main .burger-menu {
  -ms-grid-column: 11;
  grid-column: 11;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

main .burger-menu .bm1, main .burger-menu .bm2, main .burger-menu .bm3 {
  height: 5px;
  width: 35px;
  background-color: #011627;
  margin: 3px 0 3px;
}

main h1 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: -2;
  font-size: 2em;
}

.open {
  background-color: #e71d36;
  z-index: 9999;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.ambiental {
  background: url("../assets/ban.jpg");
  background-size: cover;
  background-position: center;
}

.agropecuario {
  background: url("../assets/zoo1.jpg");
  background-size: cover;
  background-position: center;
}

.civil {
  background: url("../assets/civil.jpg");
  background-size: cover;
  background-position: center;
}

.jardineria {
  background: url("../assets/jar.jpg");
  background-size: cover;
  background-position: center;
}

.otros {
  background: url("../assets/om.jpg");
  background-size: cover;
  background-position: center;
}

.titular {
  height: 50vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
}

.titular nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2/11;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.titular nav .logo {
  -ms-grid-column: 1;
  grid-column: 1;
}

.titular nav .burger-menu {
  grid-column: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titular nav .burger-menu .bm1 {
  height: 3px;
  width: 22px;
  background-color: white;
  margin: 3px 0px 3px 0px;
}

.titular nav .burger-menu .bm2 {
  height: 3px;
  width: 18px;
  background-color: white;
  margin: 3px 0px 3px 0px;
}

.titular nav .burger-menu .bm3 {
  height: 3px;
  width: 28px;
  background-color: white;
  margin: 3px 0px 3px 0px;
}

.titular nav .burger-menu:hover {
  cursor: pointer;
}

.titular nav .burger-menu:hover .bm1 {
  height: 3px;
  width: 16px;
  background-color: white;
  margin: 3px 0px 3px 0px;
}

.titular nav .burger-menu:hover .bm2 {
  height: 3px;
  width: 28px;
  background-color: white;
  margin: 3px 0px 3px 0px;
}

.titular nav .burger-menu:hover .bm3 {
  height: 3px;
  width: 18px;
  background-color: white;
  margin: 3px 0px 3px 0px;
}

.titular .titulo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2/9;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4/7;
}

.titular .titulo small {
  color: white;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.titular .titulo h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -3px;
  font-size: 3.5em;
  margin: 0px 0px 5px 0px;
}

.titular .titulo .linea {
  height: 10px;
  background-color: #fff;
  width: 40px;
}

.menu {
  margin: 65px 0px 0px 0px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.menu a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px 0px 5px 0px;
  color: #3f4141;
  padding-left: 10px;
  font-weight: 300;
}

.menu a:hover {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-left: 15px;
}

.menu .actual {
  letter-spacing: -1px;
  text-transform: uppercase;
  font-family: 'Open sans', sans-serif;
  font-weight: 800;
  font-size: 25px;
  margin: 10px 0px 10px 0px;
  height: 40px;
  border-bottom: 5px solid #119822;
}

.barra {
  height: 3px;
  width: 80px;
  background-color: #119822;
  margin: 0px;
}

.centro {
  top: 45px;
  left: 40px;
  height: 60vh;
}

.centro .subtitulo {
  color: #119822;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: -1px;
}

.centro .barra {
  height: 3px;
  width: 40px;
  background-color: #119822;
  margin: 0px;
}

.centro .subtitulo_2 {
  color: #3f4141;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 20px 0px 5px 0px;
}

.centro p {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.texto_ser {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.texto_ser .subtitulo_2 {
  color: #3f4141;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 20px 0px 5px 0px;
}

.texto_ser ul {
  font-size: 15px;
  padding-left: 20px;
}

.texto_ser ul li {
  list-style-position: inside;
  list-style: none;
  margin: 10px 0px 10px;
}

.imagen_ser_amb {
  background: url(../assets/amb2.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 10px -10px #e4e4e4;
          box-shadow: 10px -10px #e4e4e4;
  height: 50vh;
}

.imagen_ser_amb2 {
  background: url(../assets/om.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: -10px -10px #e4e4e4;
          box-shadow: -10px -10px #e4e4e4;
  height: 50vh;
}

.imagen_ser_ayv {
  background: url(../assets/zoo1.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 10px -10px #e4e4e4;
          box-shadow: 10px -10px #e4e4e4;
  height: 50vh;
}

.imagen_ser_ayv2 {
  background: url(../assets/ayv2.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: -10px -10px #e4e4e4;
          box-shadow: -10px -10px #e4e4e4;
  height: 50vh;
}

.imagen_ser_cyi {
  background: url(../assets/palmera.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 10px -10px #e4e4e4;
          box-shadow: 10px -10px #e4e4e4;
  height: 50vh;
}

.imagen_ser_cyi2 {
  background: url(../assets/cyi2.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: -10px -10px #e4e4e4;
          box-shadow: -10px -10px #e4e4e4;
  height: 50vh;
}

.imagen_ser_jar {
  background: url(../assets/ban.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 10px -10px #e4e4e4;
          box-shadow: 10px -10px #e4e4e4;
  height: 50vh;
}

.imagen_ser_jar2 {
  background: url(../assets/om.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: -10px -10px #e4e4e4;
          box-shadow: -10px -10px #e4e4e4;
  height: 50vh;
}

.imagen_ser_otr {
  background: url(../assets/otr.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 10px -10px #e4e4e4;
          box-shadow: 10px -10px #e4e4e4;
  height: 50vh;
}

.imagen_ser_otr2 {
  background: url(../assets/om.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: -10px -10px #e4e4e4;
          box-shadow: -10px -10px #e4e4e4;
  height: 50vh;
}

h1 {
  color: #3f4141;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -3px;
  font-size: 3.5em;
  margin: 0px 0px 5px 0px;
}

.adelante {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3f4141;
  margin: 30px 0px 10px;
}

.adelante .tarjeta {
  text-align: center;
  text-transform: uppercase;
}

.adelante .tarjeta h2 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -1.5px;
  font-size: 2em;
  color: white;
}

.adelante .tarjeta a {
  text-decoration: none;
  border: 3px solid white;
  border-radius: 25px;
  padding: 10px 50px 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.adelante .tarjeta a:hover {
  background-color: white;
  color: #3f4141;
}

.atras_amb {
  background: url("../assets/ban.jpg");
}

.atras_ayv {
  background: url("../assets/zoo1.jpg");
}

.atras_jar {
  background: url("../assets/jar.jpg");
}

.atras_cyi {
  background: url("../assets/cyi2.jpg");
}

.atras_mas {
  background: url("../assets/om.jpg");
}

.atras {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  margin: 0px 0px 100px;
}

.atras .tarjeta {
  text-align: center;
  text-transform: uppercase;
}

.atras .tarjeta h2 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -1.5px;
  font-size: 2em;
  color: white;
}

.atras .tarjeta a {
  text-decoration: none;
  border: 3px solid white;
  border-radius: 25px;
  padding: 10px 50px 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.atras .tarjeta a:hover {
  background-color: white;
  color: #3f4141;
}

footer {
  background-color: #3f4141;
  top: 60px;
  height: auto;
  padding-top: 45px;
  padding-bottom: 45px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #e2e2e2;
  font-size: 15px;
}

footer a {
  text-decoration: none;
  color: #e2e2e2;
  margin: 0px;
  padding: 0px;
}

footer .subtitulo_2 {
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 20px 0px 5px 0px;
}

footer ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
}

footer strong {
  font-weight: 900;
}

footer .logo_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2aaf01;
}

footer .logo_footer img {
  height: 140px;
}

@media screen and (max-width: 767px) {
  .menu {
    padding: 0px;
  }
  .centro {
    left: 0px;
  }
}
/*# sourceMappingURL=main.css.map */