.fondo{
    background: linear-gradient(228deg, #5c2849, #a73e5c, #ec4863, #ff5827);
    background-size: 1000% 1000%;
    -webkit-animation: fondo 30s ease infinite;
    -moz-animation: fondo 30s ease infinite;
    -o-animation: fondo 30s ease infinite;
    animation: fondo 30s ease infinite; 
}
    @-webkit-keyframes fondo {
        0%{background-position:0% 50%}
        50%{background-position:100% 51%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes fondo {
        0%{background-position:0% 50%}
        50%{background-position:100% 51%}
        100%{background-position:0% 50%}
    }
    @-o-keyframes fondo {
        0%{background-position:0% 50%}
        50%{background-position:100% 51%}
        100%{background-position:0% 50%}
    }
    @keyframes fondo {
        0%{background-position:0% 50%}
        50%{background-position:100% 51%}
        100%{background-position:0% 50%}
    }
    .title{
        color: white;
    }
    p{
        color: white;
    }
   .titulo{
       color: white
   }
   .titulo:hover{
       color:black;
       background-color:none;
   }